@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Space Mono NF';
    src: url('/assets/fonts/SpaceMonoNF.ttf') format('truetype');
}

* {
    font-family: 'Space Mono NF';
}
