@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Space Mono NF';
    src: url('/assets/fonts/SpaceMonoNF.ttf') format('truetype');
}

@font-face {
    font-family: 'SFMono-Regular';
    src: url('/assets/fonts/SFMonoRegular.otf') format('opentype');
}
* {
    font-family: 'SFMono-Regular', 'Space Mono NF';
}
